@import '../../../config/app';
.table{
    margin-bottom: 16px;
    .tableAlert{
        margin-bottom: 16px;
    }
}

.actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .delete,
    .update{
        font-size: 20px;
        cursor: pointer;
    }
    .delete{
        color: #FF4D4F;
    }
    .update{
        color: $primary-color;
    }
}